<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Text Analyzer</h1>
    <h3>Enter your Text Here</h3>
    <form action="/detailinfo" method="get">
        <textarea name="text" placeholder="Enter Text Here" style="width: 1043px; height: 103px;"></textarea><br>
        <input type="checkbox" name="rmpunc"> Remove Punctuation
        <button style="padding: 8px 27px;" type="submit">Analyze</button>
    </form>
</body>
</html>